.container {
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

.item {
    height: 150px;
    width: 150px;
}

.item1{
    background-color: rgb(255, 190, 225);
}

.item2{
    background-color: rgb(131, 204, 233)
}